/* ==================================
// モーダル背景（薄黒）
// ==================================*/
.l-modal__bg {
  width: 100%;
  height: 100%;
  background: rgba(89, 89, 89, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  }
  
  /* ==================================
  // モーダル
  // ==================================*/
  /* レイアウト */
  .l-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  }
  
  /* モーダルのサイズなど */
  .p-modal {
  width:600px;
  background: #fff;
  border-radius: 3px;
  padding: 10px 25px;
  box-sizing: border-box;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  }
  
  /* モーダル内 タイトル */
  .p-modal__title{
  font-size: 24px;
  margin-bottom: 25px;;
  font-weight: bold;
  }
  
  /* モーダル閉じるボタン */
  .p-modal__btn--close{
  font-size: 36px;
  position: absolute;
  top: 0px;
  right: 20px;
  }
  
  .p-modal__btn--close:hover{
  cursor: pointer;
  }
  
  /* ==================================
  // ボタン
  // ==================================*/
  .p-btn {
  background: #4f9df4;
  outline: none;
  border: none;
  display: block;
  width:200px;
  height:50px;
  margin: 100px auto;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), 0 2px 3px -2px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-size: 16px;
  border-radius: 7px;
  transition: .5s;
  }